body {
	background: url(../images/headerimg.png) no-repeat center top;
	padding-top:40px;
}

.container {
	min-height: 700px;
}

/* Footer Wrap */
#f {
	background: #3B5E94;
	/*position:fixed;*/
	bottom:0px;
	width: 1400px; 
	padding-left:30px;
	margin:auto;
}

#f i {
color: #bdbdbd;
font-size: 30px;
padding: 20px;
}

.centered {
text-align: center;
}