body {
	margin: 40px 0;
	padding: 0;
	font-family: Helvetica, arial, sans-serif;
	font-size: 15px;
	color: #454545;
	background: #fff url(../images/bg.png);
	text-shadow: 0 1px 0 rgba(0,0,0,0.02);
	-webkit-font-smoothing: antialiased;
}
a, a:visited {
	color: #428bca;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: black;
}
h1 {
	margin: 0;
	font-weight: 300;
	font-size: 35px;
	letter-spacing: -1px;
}
h2 {
	font-size: 15px;
	color: #a0a0a0;
	margin: 30px 0;
}
p, .control-group {
	margin: 0 0 20px 0;
}
.theme-selector {
	margin-top: 10px;
	font-size: 13px;
}
.theme-selector:before {
	content: 'Themes: ';
}
.theme-selector a {
	margin: 0 5px;
}
.theme-selector a.active {
	color: #202020;
	font-weight: bold;
}
#wrapper {
	margin: 0;
}
#wrapper > * {
	padding-left: 100px;
	padding-right: 100px;
}
pre {
	background: #f8f8f8;
	border: 1px solid #f2f2f2;
	padding: 10px;
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type=button] {
	margin: 0 10px 0 0;
	padding: 6px 10px;
	color: #606060;
	background: #e0e0e0;
	border: 0 none;
	width: auto;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}
.buttons {
	margin: 0 0 25px 0;
}
input[type=button]:hover {
	background: #dadada;
}

@media only screen and (max-width : 320px) {
	body {
		margin: 20px 0;
	}
	#wrapper {
		margin: 0;
	}
	#wrapper > * {
		padding-left: 10px;
		padding-right: 10px;
	}
	.demo {
		padding: 20px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}
.brand {
	  height:2em;
    }
.brandTitle {
	  height:6em;
	  margin: -3.75em 0;
    }
.add{height:1.75em;}

.cross{height:1em;}

.notif{height:35px; margin:-4px;}

[data-notifications] {
	position: relative;
     }

[data-notifications]:after {
	content: attr(data-notifications);
	position: absolute;
	border-radius: 100% !important;
	display: inline-block;
	padding: 7%;
	right: -1%;
	top: -1%;
	font-size: .9em;
	font-weight: bold;
	color:black;
}
#addPatientHeader,#notificationsHeader,.tabHeader,#reportCountHeader
{
	color:#428bca;
	font-size: 2em;
	font-weight: bold;
}
#reportCountHeader
{
color:#428bca;
font-size: 1.2em;
font-weight: bold;
}
.datepicker {z-index: 1151 !important;}

.fixme { position: fixed;
         }
         
.mainContent {
	float: right!important;
}
.insideTable {
	overflow-y:initial !important;
}
		/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
     .fixme { width: 100%; position: static; }
     .mainContent{float:none!important }
     body {margin: 80px 0;}
     td{width:25%}
